<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar class="topbar" color="primary">
    <mat-toolbar-row class="shadow">
      <span>Minimum Effort</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">Options<mat-icon class="example-icon">more_vert</mat-icon></button>
      <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item (click)="btnSave()">Save</button>
        <button mat-menu-item (click)="classes[selectedClass].usePoints = !classes[selectedClass].usePoints; pointsToggleChanged()">{{toggleLabel}}</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
      <body> -->

 
<div style="text-align:center">

  <h1>
    Welcome to EmoteControl!
  </h1>
  <button id="connect">Connect</button> <br/>
  <button type="button" onclick="alert('Follow instructions')">Click The Red Button Above to connect to the MUSE! </button>b
  <h2>The MUSE headset will be able to determine your level of engagement in 3 stages: </h2>
<ul>
  <li>
    <font color="green">GREEN: You are engaged and focused.</font>
  </li>
  <li>
    <font color="orange">ORANGE: Your brain waves indicate that you are not fully engaged.</font>
  </li>
  <li>
    <font color="red">RED: You are mellow.</font>
  </li>
</ul>
</div>


Alpha :<p id='alpha' style="display: inline;"></p><br/>
Beta :<p id='beta' style="display: inline;"></p><br/>
Theta :<p id='theta' style="display: inline;"></p><br/>
Gamma :<p id='gamma' style="display: inline;"></p><br/>
Delta:<p id='delta' style="display: inline;"></p><br/>
Engagement : <p id='eng' style="display: inline;"></p><br/>
Battery :<p id='battery' style="display: inline;"></p><br/>




