/* You can add global styles to this file, and also import other style files */
 @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Roboto', sans-serif;
	color: black;

	background: rgb(250, 250, 250);
}

h1, h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
    font-size: 22px;
	color: black;
	margin: 0px;
}

app-what-if {
	width: 100%;
	height: 100%;
}

.root {
    height:100%;
	width:100%;
	margin: 0;
	margin-top: 0px;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

.info-card {
	background-color: #DDDDDD;
	border-radius: 15px;
	padding: 20px;
	color: #333;
	overflow-y: auto;
	/*border: 2px solid #DDDDDD; /* this is deliberately the same color as the background.*/
	-webkit-box-shadow: 0 1px 5px .1px #BDBDBD;
	box-shadow: 0 1px 5px .1px #BDBDBD;
}

.shadow {
	-webkit-box-shadow: 0 1px 5px .1px #212121;
	box-shadow: 0 1px 5px .1px #212121;
}

.row {
	display: flex;
	width:100%;
	flex-wrap: wrap;
}

.col-2 {
	flex-grow: 2;
	padding: 10px;
}

.col-4 {
	flex-grow: 4;
	padding: 10px;
}

.col-5 {
	flex-grow: 5;
	padding: 10px;
}

.col-6 {
	flex-grow: 6;
	padding: 10px;
}

.col-7 {
	flex-grow: 7;
	padding: 10px;
}

.col-8 {
	flex-grow: 8;
	padding: 10px;
}

.col-10 {
	flex-grow: 10;
	padding: 10px;
}

.col-12 {
	flex-grow: 12;
	padding: 10px;
}

.spacer {
	height: 20px;
}

h4 {
	font-size: 18px;
}

@media screen and (max-width: 700px) {
	.col-4 {
		padding: 0;
	}
	.col-8 {
		padding: 0;
	}
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
